<h1>Edit post</h1>

<%= flash[:notice] %>

<% if @post.errors.any? %>
	<h2>Errors:</h2>
	<ul>
	<% @post.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>

<%= form_for @post do |f| %>
	
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>	
	</div>
	<div>
		<%= f.label :body %>
		<%= f.text_area :body %>
	</div>
	<%= f.submit %>
<% end %>
