<h1>Individual posts</h1>

<h3>Tite:</h3><%= @post.title %> <br>

<% if @post.category_id? %>
	<h3>Category:</h3> <%= @post.category.title %>
<% end %>

<h3>Body</h3>	<%= @post.body %>


<div>
	<%= link_to 'Edit', edit_post_path(@post) %>
	<%= link_to 'delete', post_path(@post), method: :delete, data: {confirm: "Are you sure?"} %>
</div>


<h2>Comments</h2>

<% @post.comments.each do |comment| %>
	<div>
		<p><%= comment.body %></p>
	</div>
<% end %>

<hr>



<%= form_for [@post, @comment] do |comment| %>
	<div>
		<%=  comment.label :body, "Write a comment" %> <br>
		<%= comment.text_area :body %>
	</div>
		<%= comment.submit %>
<% end %>