
<!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @post.title %></h1>
                        <span class="meta">Posted by <a href="#">Start Bootstrap</a> on August 24, 2014</span>
                        <% if @post.category_id? %>
													<p>Category: <%= @post.category.title %> </p>
												<% end %>
                    </div>
                </div>
            </div>
        </div>
    </header>


<!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <%= @post.body %>
                <% if can? :update, @post %>
        					<%= link_to 'Edit', edit_post_path(@post), :class => "edit-link" %>
        				<% end %>
        				<% if can? :delete, @post %>
        				<%= link_to 'Delete', post_path(@post), :class => "delete-link", method: :delete, data: {confirm: "Are you sure?"} %>
        			  <% end %>
                
                <%# Favorite  %>
                <span id="favorite-post">
                  <%= render "favorites/post_favorite" %>
                </span>

                <hr>
                <h4>Comments</h4>
                  
                <div id="post-comments"> 
                  <% @post.comments.order_asc.each do |comment| %>
                    <%= render "comments/comments_post", comment: comment %>
                  <% end %>
                </div>

        				<div id="comment-form">
                  <%= render "comments/form" %>    
                </div>
              </div> <%# End .col %>
            </div> <%# End .row %>
        </div> <%# End .container %>
    </article>

