<!DOCTYPE html>
<html>
<head>
  <title>Rails Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
	<ul>
		<li>
			<%= link_to 'Home', root_path %>
			<%= link_to 'About', about_path %>
			<%= link_to 'Posts', posts_path %>
      <%= link_to 'Login', login_path %>
      <%= link_to 'Sign Up', signup_path %>   
		</li>
	</ul>
</nav>

<%= yield %>

</body>
</html>
